body { 
font-family: 'Roboto', 'Times New Roman', Times, sans-serif;
min-height: 100vh;
display: flex;
flex-direction: column;
margin: 0;
}

.header {
    background-color: #1F2937;
    display: flex; 
    align-items: center;
    font-size: 24px;
    color: #F9FAF8;
}

.header .header-links {
    display: flex; 
    font-size: 18px;
    color: #E5E7EB; 
    margin-left: auto;
    padding-right: 16px;
    padding-left: 0;
    gap: 14px; 
  }

a {
    color: #E5E7EB; 
    text-decoration: none;
}


img {
    width: 300px;
    height: auto;
}