body { 
    font-family: 'Roboto', 'Times New Roman', Times, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0; 
    }

    li, a {
        font-size: 18px; 
        font-weight: normal;
        color: #e5e7eb; 
        text-decoration: none;
        list-style-type: none;
    }

    header {
        display: flex; 
        justify-content: space-between;
        align-items: center; 
        padding: 30px 10%; 
        background-color: #1f2937;
    }

    .team {
        color: #f9faf8;
        font-size: 24px; 
        font-weight: normal;
    }
    
    .nav-links li {
     display: inline-block;
     padding: 0 10px;
     gap: 10px; 
    }

    .mid {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 10%; 

    }
    .pic {
        width: 300px; 
        height: auto;
        order: 2;
    }